src/vmlinux/newvmlinux.h
src/user/bootstrap.c
src/user/minimal.c
src/user/include/utils/strings
src/user/include/utils/structures
src/user/include/utils/files
src/user/include/utils/structures
src/user/include/bootstrap.h
src/.output
.vscode

src/ebpf/bootstrap.bpf.c
src/ebpf/minimal.bpf.c

resources
figures
external

src/helpers/execve_hijack.asm